@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(to bottom right, #0100ec, #fb36f4);
  display: flex;
  justify-content: center;
}
